{% extends 'layout.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    <p>Welcome, {{ user.username }}!</p>
    <!-- add profile management features (change password, update profile info, etc.) -->
    <br>
    <form class="form-with-validation" method="post">
        {% csrf_token %}
        <label for="input-old-password">Old Password:</label>
        {{ form.old_password }}
        <label for="input-new-password1">New Password:</label>
        {{ form.new_password1 }}
        <label for="input-new-password2">Confirm New Password:</label>
        {{ form.new_password2 }}
        <button type="submit" class="form-submit">Change Password</button>
    </form>

{% endblock %}