{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Users
{% endblock %}

{% block content %}
    <section>
        <h1>Users</h1>
        {% for user in users %}
        <article class="user">
            <p>
                <img src="{{ user.profile_image }}" alt="{{ user.username }}'s avatar">
                <p>{{ user.profile.first_name }} {{ user.profile.last_name }}</p>
                <a href="{% url 'users:profile' user.pk %}">
                    {{ user.username }}</a>
                    <p>Last modified: {{ user.profile.date_modified }}</p>
                    <p>UserPK: {{ user.id }}</p>
                    <p>ProfilePK: {{ user.profile.id }}</p>
                </p>
        </article>
    {% endfor %}
    </section>
{% endblock %}